PetConsole/Service References/PetService/PetService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PetClubLib.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PetClubLib.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PetOwner">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pets" nillable="true" type="tns:ArrayOfPetModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PetOwner" nillable="true" type="tns:PetOwner" />
  <xs:complexType name="ModelBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelBase" nillable="true" type="tns:ModelBase" />
  <xs:complexType name="ArrayOfPetModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PetModel" nillable="true" type="tns:PetModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPetModel" nillable="true" type="tns:ArrayOfPetModel" />
  <xs:complexType name="PetModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Age" type="xs:int" />
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OwnerId" type="xs:long" />
          <xs:element minOccurs="0" name="Species" type="tns:PetSpecies" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PetModel" nillable="true" type="tns:PetModel" />
  <xs:simpleType name="PetSpecies">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Dog" />
      <xs:enumeration value="Cat" />
      <xs:enumeration value="Fish" />
      <xs:enumeration value="Bird" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PetSpecies" nillable="true" type="tns:PetSpecies" />
</xs:schema>