PetConsole/Service References/PetService/PetService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17695/PetService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PetClubLib.Models" />
  <xs:element name="GetPetOwner">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPetOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PetClubLib.Models" minOccurs="0" name="GetPetOwnerResult" nillable="true" type="q1:PetOwner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PetClubLib.Models" minOccurs="0" name="GetPetResult" nillable="true" type="q2:PetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>