PetConsole/Service References/PetService/PetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17695/PetService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17695/PetService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17695/PetService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PetClubLib.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPetService_GetPetOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPetOwner" />
  </wsdl:message>
  <wsdl:message name="IPetService_GetPetOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPetOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="IPetService_AddPetOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPetOwner" />
  </wsdl:message>
  <wsdl:message name="IPetService_UpdatePetOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePetOwner" />
  </wsdl:message>
  <wsdl:message name="IPetService_DeletePetOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePetOwner" />
  </wsdl:message>
  <wsdl:message name="IPetService_UpdatePetModel_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePetModel" />
  </wsdl:message>
  <wsdl:message name="IPetService_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="IPetService_RegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="IPetService_UnregisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterClient" />
  </wsdl:message>
  <wsdl:message name="IPetService_UnregisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterClientResponse" />
  </wsdl:message>
  <wsdl:portType name="IPetService">
    <wsdl:operation name="GetPetOwner">
      <wsdl:input wsam:Action="http://tempuri.org/IPetService/GetPetOwner" message="tns:IPetService_GetPetOwner_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IPetService/GetPetOwnerResponse" message="tns:IPetService_GetPetOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPetOwner">
      <wsdl:input wsam:Action="http://tempuri.org/IPetService/AddPetOwner" message="tns:IPetService_AddPetOwner_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePetOwner">
      <wsdl:input wsam:Action="http://tempuri.org/IPetService/UpdatePetOwner" message="tns:IPetService_UpdatePetOwner_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePetOwner">
      <wsdl:input wsam:Action="http://tempuri.org/IPetService/DeletePetOwner" message="tns:IPetService_DeletePetOwner_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePetModel">
      <wsdl:input wsam:Action="http://tempuri.org/IPetService/UpdatePetModel" message="tns:IPetService_UpdatePetModel_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterClient">
      <wsdl:input wsam:Action="http://tempuri.org/IPetService/RegisterClient" message="tns:IPetService_RegisterClient_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IPetService/RegisterClientResponse" message="tns:IPetService_RegisterClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnregisterClient">
      <wsdl:input wsam:Action="http://tempuri.org/IPetService/UnregisterClient" message="tns:IPetService_UnregisterClient_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IPetService/UnregisterClientResponse" message="tns:IPetService_UnregisterClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPetService" type="tns:IPetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPetOwner">
      <soap:operation soapAction="http://tempuri.org/IPetService/GetPetOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPetOwner">
      <soap:operation soapAction="http://tempuri.org/IPetService/AddPetOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdatePetOwner">
      <soap:operation soapAction="http://tempuri.org/IPetService/UpdatePetOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeletePetOwner">
      <soap:operation soapAction="http://tempuri.org/IPetService/DeletePetOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdatePetModel">
      <soap:operation soapAction="http://tempuri.org/IPetService/UpdatePetModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RegisterClient">
      <soap:operation soapAction="http://tempuri.org/IPetService/RegisterClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterClient">
      <soap:operation soapAction="http://tempuri.org/IPetService/UnregisterClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PetService">
    <wsdl:port name="BasicHttpBinding_IPetService" binding="tns:BasicHttpBinding_IPetService">
      <soap:address location="http://localhost:17695/PetService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>